equires=docker.service
After=docker.service
[Unit]
StartLimitIntervalSec=0
[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/var/validator
ExecStart=/usr/local/bin/docker-compose up -d  
ExecStop=/usr/local/bin/docker-compose down -t 180
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target